asgiref==3.2.7
bson==0.5.10
certifi==2020.4.5.1
click==7.1.2
Django==3.0.6
django-rest-framework==0.1.0
djangorestframework==3.11.0
dnspython==1.16.0
Flask==1.1.2
Flask-PyMongo==2.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
Werkzeug==1.0.1
